.btn-grad {
  background-image: linear-gradient(
    to right,
    var(--deep-twilight) 0%,
    var(--bright-teal-blue) 51%,
    var(--deep-twilight) 100%
  );
}

.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  cursor: pointer;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.hero-grad {
  background: #f2f9ff;
  background: linear-gradient(
    270deg,
    rgb(247, 251, 255) 0%,
    rgba(237, 243, 255, 1) 100%
  );
}
