@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

:root {
  background-color: var(--bg-dark);
  color: var(--text-main);
}

html {
  scroll-behavior: smooth;
}

@theme {
  --color-deep-twilight: #03045e;
  --color-bright-teal-blue: #0077b6;
  --color-turquoise-surf: #00b4d8;
  --color-frosted-blue: #90e0ef;
  --color-light-cyan: #caf0f8;

  --color-bg-dark: #020617;
  --color-bg-card: #0f172a;
  --color-text-main: #f8fafc;
  --color-text-muted: #94a3b8;
}

.glass-effect {
  background: rgba(15, 23, 42, 0.7);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
